<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>

    <!--  BitcoinLib settings start -->

    <!-- Shared RPC settings start -->
    <add key="RpcRequestTimeoutInSeconds" value="60" />
    <!-- Shared RPC settings end -->

    <!-- Bitcoin settings start -->
    <add key="Bitcoin_DaemonUrl" value="http://139.59.100.99:9743" />
    <add key="Bitcoin_RpcUsername" value="multichainrpc" />
    <add key="Bitcoin_RpcPassword" value="F6iFWNPinwoeHA7Ai8g3xG36jNxVUgErx2w3Y1isgmfG" />
    <!-- Bitcoin settings end -->
  </appSettings>
</configuration>