<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key="Node1" value="http://139.59.100.99:9742"/>
      <add key="Node2" value=""/>
      <add key="Username" value="multichainrpc"></add>
      <add key="Password" value="F6iFWNPinwoeHA7Ai8g3xG36jNxVUgErx2w3Y1isgmfG"></add>
    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
